body{
    margin:0;
    padding: 30px;
    background-color:#f4f4f4;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(HD-wallpaper-geometric-art-shapes-white-background-white-background-thumbnail.jpg);
    
}
body header{
    background-color: grey;
}
nav{
    padding: 1em;
    text-align: center;
    background-color: black;
    border-radius: 10px;
    
}
nav a {
    padding:0.5em 1em;
    margin: 0 1em;
    color:white;
    

}

nav a:hover{
    background-color: #111;
}
.header{
    padding: 1em;
}

.header img {
    max-width:250px;
    border-radius: 20px;
}
.container{
    max-width:800px;
    margin: 0 auto;
    padding:20px;
}

.menu{
    width:800px;
    height:700px;
    background-color:lightblue;
    border-radius: 20px;
    box-shadow: 10px 10px 5px;
    
}

footer{
    text-align:center;
    padding: 1em;
    position:relative;
    width:100%;
    bottom:0;
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: #000000;
}
footer a{
    float:right;
    flex-direction: row-reverse;
}
footer h3{
    text-align:left;
}

footer h4{
    text-align:left;
}