body{
    margin:0;
    padding: 30px;
    background-image: url(mainBackground.png);
    font-family: 'DM Serif Display', serif;
    font-family: 'Poppins', sans-serif;
   
    
    
}
body header{
    background-color: lightgrey;
    border-radius: 10px;
}
nav{
    padding: 1em;
    text-align: center;
    background-color: black;
    border-radius: 10px;
    
}
nav a {
    padding:0.5em 1em;
    margin: 0 1em;
    color:white;
    

}

nav a:hover{
    background-color: beige;
    color:#000000
}
.header{
    padding: 1em;
}

.header img {
    max-width:250px;
    border-radius: 20px;
}
.container{
    max-width:800px;
    margin: 0 auto;
    padding:20px;
}

.menu{
    width:800px;
    height:700px;
    background-color:lightblue;
    border-radius: 20px;
    box-shadow: 10px 10px 5px;
    
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-image: url(sidebar.png);
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    background-color: #f1f1f1;
    color:black;
    
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    
  }
  
  .openNav{
    color:white;
    float:right;
    margin-top: -10px;
    
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
footer{
    text-align:center;
    padding: 1em;
    position:relative;
    width:100%;
    bottom:0;
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: #000000;
}
footer a{
    float:right;
    flex-direction: row-reverse;
}
footer h3{
    text-align:left;
}

footer h5{
    text-align:left;
    font-weight: normal;
}