body{
    margin:0;
    padding: 30px;
    background-color:#f4f4f4;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
nav{
    padding: 0.5em;
    text-align: center;
}
nav a {
    padding:0.5em 1em;
    margin: 0 1em;

}
.header{
    padding: 1em;
}

.header img {
    max-width:250px;
}
.container{
    max-width:800px;
    margin: 0 auto;
    padding:20px;
}
footer{
    text-align:center;
    padding: 1em;
    position:fixed;
    width:100%;
    bottom:0;
}